nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Rockq Freecodecamp Dashboard
    .collapse.navbar-collapse

      ul.nav.navbar-nav.navbar-right
        li
          iframe(src="http://ghbtns.com/github-btn.html?user=rockq-org&repo=FreeCodeCampDashboard&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="110", height="45", style="padding: 15px 0 0 15px;")
        li
          iframe(src="http://ghbtns.com/github-btn.html?user=rockq-org&repo=FreeCodeCampDashboard&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="110", height="45", style="padding: 15px 0 0 15px;")
        li
          a(href='https://travis-ci.org/rockq-org/FreeCodeCampDashboard')
            img(src='https://img.shields.io/travis/rockq-org/FreeCodeCampDashboard.svg?style=flat', alt='Build Status', data-canonical-src='https://img.shields.io/travis/rockq-org/FreeCodeCampDashboard.svg?style=flat', style='max-width:100%;')
