extends ../layouts/default

block main
  h1= title

block content
  - if (users.length)
    - each user in users
      include user

    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    h4.muted No articles.&nbsp;
      p no users.
